.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

div.centerdiv {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

td.square {
  width: clamp(30px, 5vw, 200px);
  height: clamp(30px, 5vw, 200px);
}

.basicborder {
  border: 1px solid black;
}

button.bigbutton {
    height: 50px;
    width: 200px;
}