.nowrap {
  white-space: nowrap;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center; 
}

table {
  border-collapse: collapse;
}

th {
  padding: 0;
}

td {
  padding: 3px;
}

.basicborder {
  border: 1px solid black;
}

button.bigbutton {
    height: 50px;
    width: 200px;
}