.nowrap {
  white-space: nowrap;
}

.center {
    text-align: center;
    vertical-align: middle;
}

table {
  border-collapse: collapse;
}

td {
  
}

td.square {
  width: clamp(30px, 5vw, 200px);
  height: clamp(30px, 5vw, 200px);
}

.basicborder {
  border: 1px solid black;
}

button.bigbutton {
    height: 50px;
    width: 200px;
}