.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

div.centerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill {
  width: 100%;
  aspect-ratio: 1/1;
}

table {
  border-collapse: collapse;
}

td.square {
  width: clamp(30px, 5vw, 200px);
  height: clamp(30px, 5vw, 200px);
}

td.centertablecell {
  margin: auto;
}

.background {
  background-image: url("/felt.png");
  background-size: cover;
  margin: 0px;
  height: 100vh;
  background-color: gray;
}

.header {
  background-color: tan; 
  width:100vw; 
  min-height: 60px;
  border-bottom: 10px solid #75681c;
}

.footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%;
  background-color: tan;
  padding-left: 10px;
  padding-right: 10px;
}

.notifbox {
  position: fixed;
  left: 20px;
  top: 100px;
  width: 15%;
  height: 50%;
  overflow-y: auto;
  overflow-x: hidden; 
}

.panel {
  background-color: rgb(245, 229, 186);
  padding: 5px;
  border: 3px solid tan;
  border-radius: 5px;
  box-sizing: border-box;
}

button.smallbutton {
  border: black solid 1px;
  border-radius: 10px;
  min-width: 60px;
  width: fit-content;
}

button.bigbutton {
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border-width: 5px;
    background-color: #7ab67b;
    font-family: 'Roboto';
}

a {
  text-decoration: none;
}

span.linkbutton {
  text-align: center;
  background-color: tan;
  padding: 3px;
  border-radius: 5px;
}

span.linkbutton:hover {
  background-color: rgb(177, 153, 122);
}

/* debugging */
.basicborder {
  border: 1px solid black;
}
